.venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd

*.log

data/_raw/
data/tf_idf/
data/transformers/
data/basic/
data/lemmatized/
data/_preprocessed/
data/imgs/

.vscode/
.idea/

.DS_Store
Thumbs.db

.ipynb_checkpoints/

pip-wheel-metadata/
*.egg-info/
dist/
build/

*.bak
*.swp
*.tmp
